<div class="about-flex-container">
	<div class="about-image-container">
		<img src="/images/raj_fg.png" height=500px/>
	</div>
	<div class="about-content-container">
		<div class="heading-nav">
			<div class="left-right-name-boundary">	
				<div class="color-stretch"></div>
				<div class="white-stretch"></div>
				<div class="color-stretch"></div>
			</div>
			<div>
				<span>raj thakur</span>
			</div>
			<div>
				<div class="color-stretch"></div>
				<div></div>
				<div class="color-stretch"></div>
			</div>
		</div>
		<div class="about-content">
			
		</div>
	</div>
</div>