<div  class="menu-flex-container">
	<div class="menu-flex-item">
		<div ng-click="redirectToUrl('/about')" class="menu-flex-inner-item">
			<i class="mdi mdi-human-greeting "></i>
		</div>
		<div class="vertical-line"></div>
	</div>
	<div class="menu-flex-item">
		<div ng-click="redirectToUrl('/resume')"  class="menu-flex-inner-item">
			
			<i class="mdi mdi-format-list-bulleted "></i>
		</div>
		<div class="vertical-line"></div>
	</div>
	<div class="menu-flex-item">
		<div ng-click="redirectToUrl('/contact')" class="menu-flex-inner-item">
			
		<i class="mdi mdi-contact-mail"></i>
		</div>
		<div class="vertical-line"></div>
	</div>
	<div class="menu-flex-item">
		<div ng-click="redirectToUrl('/articles')"  class="menu-flex-inner-item">
			<i class="mdi mdi-pen"></i>
		</div>
		<div class="vertical-line"></div>
	</div>
</div>
<div  class="horizontal-line"></div>
<div class="profile-picture-flex-container">
	<div  class="vertical-line"></div>
	<div ng-click="showMenu()" class="profile-picture"></div>
</div>