<div class=" row about-flex-container">
	<div class="col-xs-3"><img src="/images/raj_fg.png" /></div>
	<div class="col-xs-9fluid-container">
		<div class="heading-nav">
			<div class="left-right-name-boundary">
				<div class="color-stretch"></div>
				<div></div>
				<div class="color-stretch"></div>
			</div>
			<div>
				<span>about</span>
			</div>
			<div>
				<div class="color-stretch"></div>
				<div></div>
				<div class="color-stretch"></div>
			</div>
		</div>
		<div class="about-content">
			
		</div>
	</div>

</div>